/* HEADER */
div.h-sony{
  background-color: black;
  height: 30px;
  text-align: right;
}

div.h-sony img{
  height: 20px;;
}

.nav-link img{
  height: 30px;
  margin-left: 10px;
}

.h-btn{
  background-color: rgb(54, 54, 54);
  padding: 5px 20px;
}

.h-btn:hover{
  color: rgb(12, 131, 241);
  outline: 2px solid rgb(12, 131, 241);
}

.navbar-nav a,
.d-flex a{
  color: black;
  font-weight: bold;
}

.navbar-nav a:hover,
.d-flex a:hover{
  color: rgb(12, 131, 241);
}

button.navbar-light{
  border: 1px solid black;
}
/* HEADER */

/* MAIN */

/* Jumbotron */ 

div.Jumbotron{
  background-image: url(../img/jumbo-bg.png);
  background-position: center;
  background-size: cover;  
}

div.returnal-banner img{
  height: 50px;
}

div.returnal-banner{
  margin-top: 300px;
}

div.text-returnal h2{
  padding: 10px 0 15px 0;
}
/* /Jumbotron */

/* Cards */

div.cards,
div.box-card{
  margin-top: 30px;
}
.cards img{
  width: 100%;
  border-radius: 20px;
  border: 4px solid white;
  transition:  1s;
  margin-bottom: 20px;
}

.box-card-active{
  outline: 2px solid rgb(12, 131, 241);
}

.cards img:hover{
  transform: translateY(-15px);
}
/* /Cards */

/* PS5 */ 

div.ps5{
  align-items: center;
}

div.text-ps5{
  margin: 50px 0px;
}

div.text-ps5 span{
  color: rgb(12, 131, 241);
  text-transform: uppercase;
  font-size: 0.7rem;
}

div.console-ps5 img{
  width: 100%;
}

.btn-big,
.btn-min{
  border: 1px solid white;
  background-color: rgb(45, 100, 230);
}


div.box-prodotto{
margin: 20px 20px;
}

div.box-prodotto h5{
  margin-top: 30px;
}

div.prodotto-card-1{
  opacity: 0.5;
  border-bottom: 2px solid white
}

div.prodotto-card-ac{
  border-bottom: 2px solid rgb(12, 131, 241);
}

div.prodotto-card-1:hover{
  opacity: 1;
  border-bottom: 2px solid rgb(12, 131, 241);
}
/* /PS5 */

/* Jumbotron-2 */ 
div.Jumbotron-2{
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
  background-position: center;
  background-size: cover;
  margin-top: 20px;  
}

div.t-two-banner img{
  height: 200px;

}

div.t-two-banner{
  padding-top: 60px; 
}

div.text-t-two{
  width: 30%;
  margin-left: 50px;
}

div.text-t-two h2{
  margin-top: 50px;
}

div.text-t-two p{
  margin-bottom: 50px;
}

/* /Jumbotron-2 */

/* Nuove uscite */ 

section.nuove-usc{
  background-color: rgb(31, 31, 31);
}

div.tony-card h6,
div.crash-card h6{
  margin-top: 15px;
}

div.ir-box{
  padding-bottom: 50px;
  transition: 1s;
}

div.uscite h2{
  padding-top: 30px;
}

div.ir-box .tony-card:hover,
div.ir-box .crash-card:hover{
  cursor: pointer;
}
/* /Nuove uscite */

/* Esplora PS4 */

div.esplora h2{
  padding-top: 20px;
}

box-ps4 span{
  text-transform: uppercase;
}

div.box-ps4 h2{
  margin: 20px 0;
}

div.box-ps4{
  margin-bottom: 50px;
}

div.ps4-card p{
  font-weight: bold;
}
/* /Esplora PS4 */

/* Jumbotron-3 */ 

div.j-3-sfondo,
div.Jumbotron-3,
div.logo-plus{
  background-color: rgb(190, 188, 187); 
}

div.Jumbotron-3{
  background-image: url(../img/ps-plus-april-monthly-games-featured-image-block.png);
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat; 
}

div.logo-plus img,
div.logo-plus-2 img{
  margin: 80px 0 40px 0;
  height: 80px;
}

div.j-3-text,
div.j-4-text{
  margin-bottom: 40px;
}

div.j-3-text p,
div.j-4-text p{
  margin-bottom: 40px;
}

.btn-jum3{
  color: rgb(45, 100, 230);
  background-color: rgb(217, 218, 220);
}

.btn-jum3:hover{
  color: black;
  outline: 1px solid rgb(0, 0, 0);
}
/* /Jumbotron-3 */

/* PS Store */

div.text-ps{
  margin-bottom: 50px;
}

div.text-ps h2{
  margin-top: 50px;
}

div.store-card img{
  margin-bottom: 40px;
  border-radius: 0;
}
/* /PS Store */

/* Jumbotron-4 */ 

div.j-4-sfondo,
div.Jumbotron-4,
div.logo-plus-2{
  background-color: rgb(22, 28, 59); 
}

div.Jumbotron-4{
  background-image: url(../img/ps-now-april-featured-image-block.png);
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat; 
}

.btn-jum4{
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.btn-jum4:hover{
  outline: 1px solid rgb(0, 0, 0);
}
/* /Jumbotron-4 */

/* Social */
 
div.social p{
  margin: 50px 0;
  font-size: 2rem;
}

div.social-logo{
  margin-bottom: 50px;
}

div.logo-card img{
  border-radius: 0;
}
/* /Social */
/* /MAIN */

/* FOOTER */

.bg-footer{
  background-color: rgb(0, 67, 156);
}

/* Logo + colonne */

div.ir-container{
  background-color: rgb(0, 67, 156);
}

div.foot-ps{
  margin: 100px 0 30px 0;
}

div.text-foot p{
  font-size: 0.8rem;
}

div.col-foot{
  margin-top: 100px;
}

div.col-foot li{
  padding-bottom:20px  ;
}

a:hover{
  text-decoration: underline;
  color: black;
}
/* /Logo + colonne */

/* Conclusione */

div.sie-foot{
 width: 150px; 
}

div.foot{
  margin: 30px 0;
}

div.foot span{
  text-decoration: underline;
}
/* /Conclusione */

/* /FOOTER */


/* MQ */

@media screen and (min-width: 768px) and (max-width: 991px) {
  div.returnal-banner img{
    height: 100px;
  }
  
  div.returnal-banner{
    margin-top: 250px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  div.t-two-banner img{
    height: 300px;
  }
  
  div.t-two-banner{
    margin-top: 0px;
  }

  
div.text-t-two{
  width: 100%;
  }
}

@media screen and (max-width: 767px){
  
  div.t-two-banner img{
    height: 250px;
  }
  
  div.t-two-banner{
    margin-top: 0px;
  }

  
  div.text-t-two{
  width: 90%;
  }
}

@media screen and (min-width: 768px) and (max-width: 990px) {
  
  div.logo-plus img,
  div.logo-plus-2 img{
    height: 60px;
  }
  
}

@media screen and (min-width: 1400px){
  .box-mq p{
    margin-bottom: 41px;
  } 
}