/* HEADER */
/* HEADER */

/* MAIN */

/* Jumbotron */         /* bottone + (sistemare MQ del banner) */

div.Jumbotron{
  background-image: url(../img/jumbo-bg.png);
  background-position: center;
  background-size: cover;  
}

div.returnal-banner img{
  width: 50%;
}

div.returnal-banner{
  margin-top: 250px;
}

div.text-returnal h2{
  padding: 10px 0 15px 0;
}
/* /Jumbotron */

/* Cards */                       /* dare effetto alle cards */

div.cards{
  margin-top: 30px;
}

div.box-cards{
  padding: 10px;
  border-radius: 10px;
}

div.returnal-card img,
div.ratchet-card img,
div.prodotto-card img {
  width: 100%;
  border-radius: 10px;
}
/* /Cards */

/* PS5 */         /* effetti + Allineare la scritta con l'img */

div.text-ps5{
  margin: 50px 0px;
}

div.text-ps5 span{
  color: rgb(12, 131, 241);
  text-transform: uppercase;
  font-size: 0.7rem;
}

div.console-ps5 img{
  width: 100%;
}

div.box-prodotto{
padding: 20px;
}

div.box-prodotto h4{
  margin-top: 20px;
}

/* /PS5 */

/* Jumbotron-2 */
/* /Jumbotron-2 */

/* Nuove uscite */
/* /Nuove uscite */

/* Esplora PS4 */
/* /Esplora PS4 */

/* Jumbotron-3 */
/* /Jumbotron-3 */

/* PS Store */
/* /PS Store */

/* Jumbotron-4 */
/* /Jumbotron-4 */

/* Social */
/* /Social */

/* /MAIN */

/* FOOTER */

/* Logo + colonne */
/* /Logo + colonne */

/* Conclusione */
/* /Conclusione */

/* /FOOTER */

