





























/* DEBUG */

.debug{
  background-color: blue;
  border: 1px solid black;
}

.debug1{
  background-color: aqua;
  border: 1px solid black;
}

.debug2{
  background-color: antiquewhite;
  border: 1px solid black;
  
}

.h100{
  height: 100px;
}

.h-cent{
  height: 100%;
}

.h200{
  height: 200px;
}

.h400{
  height: 400px;
}

.h600{
  height: 600px;
}

.h700{
  height: 700px;
}